In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data_cleaning_dataset.csv')
df.head()

,ProductID,ProductName,Price,Quantity,Category,Supplier,StockDate,Discount
0,1,Charger,NaN,15.0,Office Supplies,Supplier E,2020-01-05,5.0
1,2,Keyboard,NaN,35.0,Office Supplies,Supplier D,2020-01-12,10.0
2,3,Smartwatch,882.45,28.0,Electronics,Supplier C,2020-01-19,0.0
3,4,Keyboard,1639.31,7.0,Office Supplies,Supplier C,2020-01-26,20.0
4,5,USB Drive,258.01,32.0,Electronics,Supplier A,2020-02-02,15.0

In [5]:
df.isna().sum()

ProductID       0
ProductName     0
Price          10
Quantity       11
Category        9
Supplier       11
StockDate       0
Discount       11
dtype: int64

In [15]:
df['Quantity'].fillna(1, inplace=True)
df['Category'].fillna('Unknown', inplace=True)
df['Supplier'].fillna('No name', inplace=True)
df['Price'].fillna(100, inplace=True)
df['Discount'].fillna(10, inplace=True)
df.isna().sum()

C:\Users\PC\AppData\Local\Temp\ipykernel_7032\4006052847.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(1, inplace=True)
C:\Users\PC\AppData\Local\Temp\ipykernel_7032\4006052847.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Category'].fillna('Unknown', inplace=True)
C:\Users\PC\AppData\Local\Temp\ipykernel_7032\4006052847.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Supplier'].fillna('No name', inplace=True)
C:\Users\PC\AppData\Local\Temp\ipykernel_7032\4006052847.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(100, inplace=True)

ProductID      0
ProductName    0
Price          0
Quantity       0
Category       0
Supplier       0
StockDate      0
Discount       0
dtype: int64

In [16]:
df

,ProductID,ProductName,Price,Quantity,Category,Supplier,StockDate,Discount
0,1,Charger,100.00,15,Office Supplies,Supplier E,2020-01-05,5.0
1,2,Keyboard,100.00,35,Office Supplies,Supplier D,2020-01-12,10.0
2,3,Smartwatch,882.45,28,Electronics,Supplier C,2020-01-19,0.0
3,4,Keyboard,1639.31,7,Office Supplies,Supplier C,2020-01-26,20.0
4,5,USB Drive,258.01,32,Electronics,Supplier A,2020-02-02,15.0
...,...,...,...,...,...,...,...,...
100,63,Projector,1059.82,6,Electronics,Supplier C,2021-03-14,10%
101,79,Speaker,439.85,13,Gaming,Supplier B,2021-07-04,15.0
102,49,Headphone,528.42,49,Accessories,Supplier D,2020-12-06,20.0
103,36,Microphone,1911.94,40,Electronics,No name,2020-09-06,10.0
104,11,Smartwatch,1397.03,1,Accessories,Supplier B,2020-03-15,20.0

In [11]:
df['Quantity'] = df['Quantity'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    105 non-null    int64
 1   ProductName  105 non-null    object
 2   Price        105 non-null    float64
 3   Quantity     105 non-null    int32
 4   Category     105 non-null    object
 5   Supplier     105 non-null    object
 6   StockDate    105 non-null    object
 7   Discount     94 non-null     float64
dtypes: float64(2), int32(1), int64(1), object(4)
memory usage: 6.3+ KB