In [1]:
import pandas as pd
from functions import count_data_keyword

In [2]:
df_profiles = pd.read_csv('LinkedIn_Data_Analysis.csv')
df_profiles.head()

,Name,Email,Job Title,LinkedIn Description
0,Catherine Green,catherine.g@example.com,Consultant,Skilled data analyst with expertise in data vi...
1,David Brown,ivy.l@example.com,Software Developer,Product manager with a knack for data-driven d...
2,Henry Clark,jack.w@example.com,Product Manager,Data engineer with a strong understanding of d...
3,Henry Clark,grace.l@example.com,Data Analyst,Business analyst with experience in data analy...
4,Bob Smith,jack.w@example.com,Data Analyst,Business analyst with experience in data analy...

In [3]:
df_profiles['count of data'] = df_profiles['LinkedIn Description'].apply(count_data_keyword)

In [4]:
df_profiles.head()

,Name,Email,Job Title,LinkedIn Description,count of data
0,Catherine Green,catherine.g@example.com,Consultant,Skilled data analyst with expertise in data vi...,3
1,David Brown,ivy.l@example.com,Software Developer,Product manager with a knack for data-driven d...,1
2,Henry Clark,jack.w@example.com,Product Manager,Data engineer with a strong understanding of d...,3
3,Henry Clark,grace.l@example.com,Data Analyst,Business analyst with experience in data analy...,1
4,Bob Smith,jack.w@example.com,Data Analyst,Business analyst with experience in data analy...,1