In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Macedonian_Student_Data_Full.csv')
df.head()

,Student ID,First Name,Last Name,Email,Phone Number,Address,Date of Birth,Major,Year,GPA,Grade Math,Grade English,Grade History,Grade Science
0,6500,Јован,Митрев,tiffany25@fernandez-martin.com,(784)271-1477x3201,"Mary Circles 17993, Битола",2001-11-05,Инженерство,Трета година,3.69,7.96,6.94,8.86,9.65
1,1898,Виктор,Трајковски,sullivanvictor@gould.com,001-017-026-9524x9911,"Kent Loaf 57173, Прилеп",2005-10-16,Компјутерски науки,Четврта година,3.50,8.89,8.54,8.40,6.99
2,9433,Горан,Ивановски,deborah47@montes-webster.org,+1-877-347-7848x58800,"Brown Mews 39726, Куманово",2003-12-30,Компјутерски науки,Четврта година,2.06,9.28,9.63,9.31,8.31
3,6963,Елена,Марковски,hmorgan@mendoza.com,(167)567-7002x84276,"Stephanie Route 11926, Гостивар",2004-09-24,Математика,Прва година,3.73,8.87,7.26,9.84,6.66
4,1844,Иван,Јорданов,moralesmary@yahoo.com,(467)197-8897,"Wolfe Ridge 931, Гостивар",2003-07-09,Математика,Втора година,2.71,8.14,8.35,7.37,6.14

In [15]:
df_by_major = df.groupby(['Major','Year'])

In [20]:
prosek_angliski_grupirano = df_by_major['Grade English'].agg(['mean'])

In [28]:
prosek_angliski_grupirano.sort_values(['mean'], ascending=False)

                                       mean
Major              Year
Инженерство        Четврта година  8.865000
                   Прва година     8.830000
Физика             Втора година    8.695000
Компјутерски науки Трета година    8.640000
Инженерство        Втора година    8.550000
Биологија          Четврта година  8.396667
Математика         Трета година    8.310000
Компјутерски науки Втора година    8.290000
                   Четврта година  8.042500
Математика         Втора година    8.026667
Инженерство        Трета година    7.955000
Физика             Прва година     7.950000
Биологија          Втора година    7.930000
Компјутерски науки Прва година     7.743333
Биологија          Трета година    7.325000
Математика         Прва година     7.260000
Физика             Четврта година  7.170000
Биологија          Прва година     7.113333